
<div class="main-box">
    <div class="register-form">
        <div class="text">
            <span>Welcome</span>
            <span>Log in  account</span>
        </div>
        <div class="register-inputs">
            <input type="email" [(ngModel)]="email" class="inp1" placeholder="Email">
         
            <input type="password" [(ngModel)]="password" class="inp2" placeholder="Password">
        </div>
        <div class="btn">
            <button (click)="login()" >Log in</button>
        </div>

        <a routerLink="/home">Aaa</a>

    </div>
</div>
