.gallery-container{
    background-color: violet;
    width: 650px;
    height: 100px;
   
    display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap; 
   
}
.photo{
   
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
   
    
    
}
.photo img{
    width: 300px;
    height: 300px;
    object-fit: cover; 

}