<div class="main-box">
    <div class="box">
    <div class="profile">
        <div class="user-info">
            <div class="img" *ngFor="let photo of photos">
                <img [src]="photo.url" alt="Photo">
            </div>
            <div class="user-name">
                 <span>{{ name |async }}</span>
            </div>
        </div>
    </div>
    
    <div class="navigation">
        <div class="panel">
            
            <a  (click)="openModal()">Add post</a>
            <a href="">News</a>
            <a href="">Chat</a>
            <a href="">Friends</a>
            <a href="">logout</a>
            <input type="file" /> 
            <input type="file" (change)="onFileSelected($event)"/> 
            
        </div>
    </div>
    </div>

    <app-post></app-post>
<app-gallery></app-gallery>

    
    
    
</div>


<div *ngIf="showModal" class="modal-overlay">
    <div class="modal">
      <span (click)="closeModal()" class="close-btn">&times;</span>
      <div class="modal-content">
        <h3>Creat a post</h3>
        
        <div class="modal-input">
            <span>Title</span>
            <input type="text" [(ngModel)]="title">
        </div>
        <div class="modal-input">
            <span>Text</span>
            <input type="text" [(ngModel)]="text">
            
         </div>

         <button (click)="addPost()">Add</button>
      </div>
    </div>
  </div>
