<div class="main-box">
    <div class="profile">
        <div class="user-info">
            <div class="img" *ngFor="let photo of photos">
                <img [src]="photo.url" alt="Photo">
            </div>
            <div class="user-name">
                 <span>{{ name |async }}</span>
            </div>
        </div>
    </div>
    <div class="navigation">
        <div class="panel">
            
            <a  (click)="openModal()">Add post</a>
            <a href="">News</a>
            <a href="">Chat</a>
            <a href="">Friends</a>
            <a href="">logout</a>
            <input type="file" (change)="onFileSelected($event)" />

        </div>
    </div>

    <div class="posts-container" >

        <div class="post"*ngFor="let post of posts">
            
            <div class="post_info" >
                
                <div class="user-detail" >
            
                    <span>{{ name |async }}</span>
                </div>
                <div class="post-title">
                    <span>{{post.title}}</span>
                </div>
                
                <div class="post-text">
                    <span>{{post.text}}</span>
                </div>
            </div>
            <button [id]="post.postId" (click)="deletePost(post.postId)">Delete</button>
        </div>
    </div>
    
    
</div>
<div *ngIf="showModal" class="modal-overlay">
    <div class="modal">
      <span (click)="closeModal()" class="close-btn">&times;</span>
      <div class="modal-content">
        <h3>Creat a post</h3>
        
        <div class="modal-input">
            <span>Title</span>
            <input type="text" [(ngModel)]="title">
        </div>
        <div class="modal-input">
            <span>Text</span>
            <input type="text" [(ngModel)]="text">
            
         </div>

         <button (click)="addPost()">Add</button>
      </div>
    </div>
  </div>
